# Core functionality - changes here should be rare!
/src/app.py                   @mUsman3
/src/backend/database.py      @mUsman3
/src/backend/routers/auth.py  @mUsman3

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mUsman3
